@media (max-width:480px ) {
  
  .main {
      background-color:#aaaaff;

  }
  
  .RJNI, .DUR, .HUM, .SBDI, .TJS, .DD, .GRB, .JAN, .GAT, .M18, .MAH, .ANT, .YUVA, .SK, .EXP, .SEXP, .LOL, .AC, .LUX, .STEXP, .SSEX, .JSD, .PASS {
	padding:5px; 
}
  
  p {
    font-size:12px;
  }
  
	body {
		margin:5px;
	}
  
  
  .img {
    width:85%;
    float:left;
	  
  }
	
	
	iframe {
		width:85%;
		height:4cm;
	}
	
	.headingh1 {
		fontsize:32px;
	}
  
}





@media (max-width:1000px ) {
  
    .main {

      background-color:#aabcff;
 
  }
  
    p {
    font-size:20px;
  }
  
   .img {
    width:85%;
    float:left;
  }
    .RJNI, .DUR, .HUM, .SBDI, .TJS, .DD, .GRB, .JAN, .GAT, .M18, .MAH, .ANT, .YUVA, .SK, .EXP, .SEXP, .LOL, .AC, .LUX, .STEXP, .SSEX, .JSD, .PASS {
	padding:12px; 
}
		body {
		margin:15px;
	}
		iframe {
		width:85%;
			height:8cm;
	}
  	
	.headingh1 {
		fontsize:65px;
	}
  
}
