@media (max-width:480px ) {
  
  .main {
      background-color:#aaaaff;

  }
  
  
  p {
    font-size:12px;
  }
  
  
  
  .img {
    width:100%;
    float:left;
  }
  
}





@media (max-width:1000px ) {
  
    .main {

      background-color:#aabcff;
 
  }
  
    p {
    font-size:20px;
  }
  
   .img {
    width:100%;
    float:left;
  }
  
}
